<h1>Sign Up</h1>

<form action="/user/create" method="post">
    <input type="text" name="name" placeholder="Your Name" required>
    <input type="email" name="email" placeholder="Your Email" required>
    <input type="password" name="password" placeholder="Password" required>
    <input type="password" name="confirm-password" placeholder="Confirm Password" required>
    <input type="submit" value="Sign Up">
</form>
<p>
    <a href="/user/auth/google">Google Sign In/Sign Up</a>
</p>