<h1>Sign In</h1>

<form action="/user/create-session" method="post">
    <input type="email" name="email" placeholder="Email" required>
    <input type="password" name="password" placeholder="Password" required>
    <input type="submit" value="Sign In">
</form>
<p>
    <a href="/user/update-password">Forgot Password</a>
</p>
<p>
    <a href="/user/auth/google">Google Sign In/Sign Up</a>
</p>